<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
                rel="shortcut icon"
                href="{{ asset('assets/images/favicon.svg') }}"
                type="image/x-icon"
        />
        <title>{% block title %}Admin{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}

    </head>
    <body>
    {{ include('admin/modules/_aside.html.twig') }}

    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
        {{ include('admin/modules/_header.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('admin/modules/_footer.html.twig')}}
    </main>
    <!-- ======== main-wrapper end =========== -->
    </body>
</html>
